{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}

<div class="Box hx_page-header-bg pt-3 hide-full-screen mb-5">
    <div class="d-flex mb-3 px-3 px-md-4 px-lg-5">
        <div class="flex-auto min-width-0 width-fit mr-3">
            <h1 class=" d-flex flex-wrap flex-items-center break-word f3 text-normal">
                <svg class="octicon octicon-repo color-text-secondary mr-2" height="16" viewBox="0 0 16 16" version="1.1" width="16">
                    <path fill-rule="evenodd"
                        d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
                    </path>
                </svg>
                <strong itemprop="name" class="mr-2 flex-self-stretch">
                    <a data-pjax="#js-repo-pjax-container" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </strong>
            </h1>

            {{ with $params.forkedFrom }}
            <span class="text-small lh-condensed-ultra no-wrap mt-1" data-repository-hovercards-enabled="">
                {{ T "forkedFrom" }} <a href="{{ . }}">{{ . }}</a>
            </span>
            {{ end }}
        </div>

        <ul class="pagehead-actions flex-shrink-0 d-none d-md-inline" style="padding: 2px 0;">
            <li>
                {{- $comment := .Scratch.Get "comment" | default dict -}}
                {{- if $comment.enable | and $comment.valine.enable | and $comment.valine.visitor -}}
                <span id="{{ .RelPermalink }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
                    <div class="d-block starring-container ">
                        <div class="btn btn-sm btn-with-count">
                            <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16" class="octicon octicon-eye">
                                <path fill-rule="evenodd"
                                    d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z">
                                </path>
                            </svg>
                            <span>{{ T "Watch" }}</span>
                        </div>
                        <span class="social-count js-social-count leancloud-visitors-count">0
                        </span>
                    </div>
                </span>
                {{- end -}}
            </li>
            <li>
                <div class="d-block starring-container ">
                    <div class="btn btn-sm btn-with-count">
                        <svg class="octicon octicon-clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                            <path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zm.5 4.75a.75.75 0 00-1.5 0v3.5a.75.75 0 00.471.696l2.5 1a.75.75 0 00.557-1.392L8.5 7.742V4.75z"></path>
                        </svg>
                        <span>{{ T "Reading" }}</span>
                    </div>
                    <span class="social-count js-social-count">
                        {{ T "readingTime" .ReadingTime }}
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container-xl clearfix new-discussion-timeline px-3 px-md-4 px-lg-5">
    <div id="repo-content-pjax-container" class="repository-content ">
        <div class="Box d-flex flex-column flex-shrink-0 mb-3">
            <div class="Box-header Box-header--blue Details js-details-container">
                <div class="d-flex flex-items-center">
                    {{- $profile := .Site.Params.home.profile -}}
                    {{- $avatar := $profile.avatarURL -}}
                    {{- with $profile.gravatarEmail -}}
                    {{- $avatar = md5 . | printf "https://cdn.v2ex.com/gravatar/%v?s=240&d=mp" -}}
                    {{- end -}}
                    {{- $author := $params.author | default .Site.Author.name | default (T "author") -}}
                    {{- $authorLink := $params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}

                    <span class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1">
                        <a rel="author" href="{{ $authorLink }}"><img class="avatar avatar-user" src="{{ $avatar }}" width="24" height="24" alt="{{ $author }}"></a>
                    </span>
                    <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
                        <div class="css-truncate css-truncate-overflow">
                            <a class="text-bold Link--primary" href="{{ $authorLink }}">{{ $author }}</a>
                            {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
                            <span class="markdown-title ml-2">
                                {{- printf `<time datetime="%v">%v</time>` . . | dict "Date" | T "publishedOnDate" | safeHTML -}}
                            </span>
                            {{- end -}}
                        </div>
                    </div>

                    <div class="ml-3 d-flex flex-shrink-0 flex-items-center flex-justify-end color-text-secondary no-wrap">
                        {{- with .Site.Params.dateformat | default "2006-01-02" | .Lastmod.Format -}}
                        <span class="d-none d-md-inline">
                            <span>{{- dict "Date" . | T "updatedOnDate" -}} </span>
                        </span>
                        {{- if $.Site.Params.gitRepo -}}
                        {{- with $.GitInfo -}}
                        &nbsp;<a class="git-hash" href="{{ printf `%v/commit/%v` $.Site.Params.gitRepo .Hash }}" target="_blank" title="commit by {{ .AuthorName }}({{ .AuthorEmail }}) {{ .Hash }}: {{ .Subject }}">
                            <i class="fas fa-hashtag fa-fw"></i>{{- .AbbreviatedHash -}}
                        </a>
                        {{- end -}}
                        {{- end -}}
                        {{- end -}}
                    </div>
                </div>
            </div>

            <div class="Box-body d-flex flex-items-center flex-auto border-bottom-0 flex-wrap">
                {{- /* Meta */ -}}
                <div class="post-meta d-flex flex-auto flex-justify-between flex-items-center">
                    <div class="post-meta-line">
                        {{- $categories := slice -}}
                        {{- range .Params.categories -}}
                        {{- $category := partialCached "function/path.html" . . | printf "/categories/%v" | $.Site.GetPage -}}
                        {{- $categories = $categories | append (printf `<a href="%v"><i class="far fa-folder fa-fw"></i>%v</a>` $category.RelPermalink $category.Title) -}}
                        {{- end -}}
                        {{- with delimit $categories "&nbsp;" -}}
                        &nbsp;<span class="post-category">
                            {{- dict "Categories" . | T "includedInCategories" | safeHTML -}}
                        </span>
                        {{- end -}}
                    </div>

                    <section class="post-tags">
                        {{- with .Params.tags -}}
                        <i class="fas fa-tags fa-fw"></i>&nbsp;
                        {{- range $index, $value := . -}}
                        {{- if gt $index 0 }},&nbsp;{{ end -}}
                        {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                        <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                        {{- end -}}
                        {{- end -}}
                    </section>
                </div>
            </div>
        </div>

        {{- $toc := $params.toc -}}
        {{- if eq $toc true -}}
        {{- $toc = .Site.Params.page.toc | default dict -}}
        {{- else if eq $toc false -}}
        {{- $toc = dict "enable" false -}}
        {{- end -}}
        <readme-toc data-catalyst="">
            <div data-target="readme-toc.content" class="Box mt-3 position-relative ">
                <div class="Box-header blob-header js-sticky js-position-sticky top-0 p-2 d-flex flex-shrink-0 flex-md-row flex-items-center" style="position: sticky; z-index: 1; top: 0px !important;" data-original-top="0px">
                    <details data-target="readme-toc.trigger"
                        data-menu-hydro-click="{&quot;event_type&quot;:&quot;repository_toc_menu.click&quot;,&quot;payload&quot;:{&quot;target&quot;:&quot;trigger&quot;,&quot;repository_id&quot;:185507653,&quot;originating_url&quot;:&quot;https://github.com/hydrz/formatter/blob/master/README.md?_pjax=%23repo-content-pjax-container&quot;,&quot;user_id&quot;:1647194}}"
                        data-menu-hydro-click-hmac="ec482142b48fc1616305ebcc00284d220b3844dbbcd10156350cb22f7af6587b" class="dropdown details-reset details-overlay">
                        <summary class="btn btn-octicon m-0 mr-2 p-2" aria-haspopup="menu" aria-label="Table of Contents" role="button">
                            <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16" class="octicon octicon-list-unordered">
                                <path fill-rule="evenodd"
                                    d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z">
                                </path>
                            </svg>
                        </summary>

                        <details-menu class="SelectMenu" role="menu">
                            <div class="SelectMenu-modal rounded-3 mt-1" style="max-height:340px;">
                                <div class="SelectMenu-list SelectMenu-list--borderless p-2" style="overscroll-behavior: contain;">

                                    {{- /* Auto TOC */ -}}
                                    {{- if ne $toc.enable false -}}
                                    <div class="toc" id="toc-auto">
                                        <div class="toc-content{{ if eq $toc.auto false }} always-active{{ end }}" id="toc-content-auto"></div>
                                    </div>
                                    {{- end -}}
                                </div>
                            </div>
                        </details-menu>
                    </details>


                    <div class="text-mono f6 flex-auto pr-3 flex-order-2 flex-md-order-1">
                        {{ T "wordCount" .WordCount }}
                    </div>

                    <div class="d-flex py-1 py-md-0 flex-auto flex-order-1 flex-md-order-2 flex-sm-grow-0 flex-justify-between hide-sm hide-md">
                        <div class="BtnGroup">
                            {{- if $params.linktomarkdown -}}
                            {{- with .OutputFormats.Get "markdown" -}}
                            <a class="btn-sm btn BtnGroup-item" href="{{ .RelPermalink }}" target="_blank">
                                Raw
                            </a>
                            {{- end -}}
                            {{- end -}}
                        </div>
                    </div>
                </div>

                <div class="Box-body readme blob js-code-block-container p-5 p-xl-6 gist-border-0">
                    <article class="page single" itemprop="text">
                        {{- /* Title */ -}}
                        <h1 class="single-title animated flipInX">{{ .Title }}</h1>

                        {{- /* Subtitle */ -}}
                        {{- with $params.subtitle -}}
                        <h2 class="single-subtitle">{{ . }}</h2>
                        {{- end -}}

                        {{- /* Featured image */ -}}
                        {{- $image := $params.featuredimage -}}
                        {{- with .Resources.GetMatch "featured-image" -}}
                        {{- $image = .RelPermalink -}}
                        {{- end -}}
                        {{- with $image -}}
                        <div class="featured-image">
                            {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
                        </div>
                        {{- end -}}

                        {{- /* Static TOC */ -}}
                        {{- if ne $toc.enable false -}}
                        <div class="details toc" id="toc-static" kept="{{ if $toc.keepStatic }}true{{ end }}">
                            <div class="details-summary toc-title">
                                <span>{{ T "contents" }}</span>
                                <span><i class="details-icon fas fa-angle-right"></i></span>
                            </div>
                            <div class="details-content toc-content" id="toc-content-static">
                                {{- dict "Content" .TableOfContents "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                            </div>
                        </div>
                        {{- end -}}

                        {{- /* Content */ -}}
                        <div class="content" id="content">
                            {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                        </div>

                        {{- /* Footer */ -}}
                        <div class="mt-5 mb-5">
                            {{- partial "single/footer.html" . -}}
                        </div>
                    </article>
                </div>
            </div>
        </readme-toc>

        <div class="mt-5">
            {{- /* Comment */ -}}
            {{- partial "comment.html" . -}}
        </div>
    </div>
</div>

{{- end -}}